{
    "presets": [
        "react", "env"
    ],
    "env": {
        "deveploment": {
            "plugins": [
                ["react-transform", {
                    "transforms": [{
                        "transform": "react-transform-hmr",
                        "imports": ["react"],
                        "locals": ["module"]
                    }]
                }]
            ]
        }
    }
}